.container {
    background-color: white;
    color: black;
    padding: 20px;
  }
  
  .footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .cicons{
    color:red;
    font-size: 20px;
  }
  .corporate-office,
  .map
  .quick-enquiry {
    flex: 1;
    margin-right: 20px;
  }
  
  h3 {
    border-bottom: 2px solid orange;
    padding-bottom: 5px;
  }
  
  /* ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 5px;
    cursor: pointer;
  }
   */
  .quick-enquiry form {
    display: flex;
    flex-direction: column;
  }
  
  .quick-enquiry input,
  .quick-enquiry button {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    border-bottom: 2px solid black;
  }
  
  .quick-enquiry button {
    background-color: orange;
    color: white;
    cursor: pointer;
  }
  
  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    color: black;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }
  

@media (max-width: 600px) {
  .footer {
    flex-direction: column;
    align-items: stretch;
    padding: 10px;
  }

  .corporate-office,
  .map,
  .quick-enquiry {
    margin: 0 0 20px 0 !important;
    width: 100% !important;
    max-width: 100% !important;
    min-width: 0 !important;
  }

  .map-container,
  .map iframe {
    width: 100% !important;
    min-width: 0 !important;
    max-width: 100% !important;
    height: 180px !important;
    margin: 0 auto !important;
    display: block;
  }

  .quick-enquiry input,
  .quick-enquiry button {
    width: 100% !important;
    margin-left: 0 !important;
    box-sizing: border-box;
  }

  .quick-enquiry {
    margin-left: 0 !important;
    padding: 0 5px;
  }

  .popup {
    width: 95% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
  }
}
